.title {
    font-size: 22;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.image-container {
    width: 100%;
    height: auto;
}

.list-container {
    margin: 30px;
}

.pairing-TagId {
    color: black;
    font-size: 18;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pairing-MedicineName {
    color: #3A53FF;
    font-size: 22;
    margin-top: 5px;
    margin-bottom: 0px;
}

.list-MedicineName {
    font-size: 18;
    color: #3A53FF;
}

.list-TagId {
    font-size: 14;
    color: black;
    text-align: left;
}

.list-TagIcon {
    font-size: 14;
    color: gray;
    /* vertical-align: middle; */
    text-align: right;
    margin-right: 10px
}

.pair-button-row {
    width: auto;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.audio-button-row {
    width: auto;
    height: 10%;
    margin-top: 20px;
}

.my-button {
    border-radius: 5;
    font-family: FontAwesome;
    vertical-align: middle;
    margin: 20px;
}

.my-button:active {
    background-color: lightslategray;
    color:white;
}

.enableAudio-button {
    color: black;
    font-size: 18;
}

.logo {
    /* width:100%;
    height: 100%; */
    margin-bottom: 30px;
}

/* Parallax */
#headerLabel2
{
    font-size: 45;
    horizontal-align: center;
    margin-top:-25;
    color:#B2EBF2;
}

#headerLabel{
    font-size: 45;
    horizontal-align: center;
    padding-top:75;
    color:#B2EBF2;
}

.header-template{
    background-color:red;
    background-image:url('~/images/pair.jpg');
    height: 205;
    background-size: cover;
    background-repeat: no-repeat;
}

.body-template TextView{
    margin: 30px;
}

.anchor{
    height: 55;
    width:100%;
    background-color:white;
    /* background-color:#616161; */
}

#titleLabel{
    font-weight:bold;
    font-size:25;
    padding:5 15;
    color:#fff;
}