.image-container {
    width: 100%;
    height: auto;
}

.list-container {
    margin: 30px;
    margin-bottom: 10px;
}

.daily-instruction {
    color: black;
    font-size: 22em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pairing-TagIcon {
    color: #3ab7ff;
    font-size: 22em;
    margin-top: 5px;
    margin-bottom: 45px;
    vertical-align: bottom;
}

.pairing-MedicineName {
    color: #3A53FF;
    font-size: 22em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.list-MedicineName {
    font-size: 18em;
    color: #3A53FF;
}

.list-TagId {
    font-size: 14em;
    color: black;
    text-align: left;
}

.list-TagIcon {
    font-size: 14em;
    color: gray;
    text-align: right;
    margin-right: 10px
}

.reminder-mark {
    font-size: 20em;
    padding: 10px;
    color: white;
    vertical-align: middle;
    horizontal-align: right;
    background-color: white;
}

.pair-button-row {
    width: auto;
    height: 10%;
    margin-top: 70px;
}

.audio-button-row {
    width: auto;
    height: 10%;
    margin-top: 60px;
}

.my-button {
    border-radius: 5;
    font-family: FontAwesome;
    vertical-align: middle;
    margin: 20px;
}

.my-button-small {
    border-radius: 5;
    font-size: 10em;
    font-family: FontAwesome;
    vertical-align: middle;
    margin: 5px;
    padding: 0px;
}

.my-button:active {
    background-color: lightslategray;
    color: white;
}

.enableAudio-button {
    color: black;
    font-size: 18em;
}

.align-top {
    vertical-align: middle;
}

.vAlign-center {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: middle;
}

.align-left {
    horizontal-align: middle;
}

.hAlign-center {
    horizontal-align: middle;
}

.align-right {
    horizontal-align: middle;
}


/* Tabs
----------- */
.tabs {
    margin-top: 50px;
    height: auto;
}

.tab1 {
    color: #3A53FF;
}

.tab2 {
    color: #398881;
    font-weight:bold;
}

.tab3 {
    color: #7700ff;
    font-weight:bold;
}

/* Parallax
----------- */
#headerLabel2
{
    font-size: 45em;
    horizontal-align: center;
    margin-top:-25;
    color:#B2EBF2;
}

#headerLabel{
    font-size: 45em;
    horizontal-align: center;
    padding-top:75;
    color:#B2EBF2;
}

.header-template{
    background-color:#ff0000;
    background-image:url('~/images/home.jpg');
    height: 205;
    background-size: cover;
    background-repeat: no-repeat;
}

.body-template TextView{
    margin: 30px;
}

.anchor{
    height: 55;
    width:100%;
    background-color:white;
}

#titleLabel{
    font-weight:bold;
    font-size:25em;
    padding:5 15;
    color:#fff;
}