.list-container {
    margin: 30px;
    margin-bottom: 10px;
}

.title {
    font-size: 22;
    margin-top:60px;
    text-align: center;    
}

.row-text {
    color: black;
    font-size: 18;
    text-align: left;
    margin-left: 30px;
}

.button-row {
    width: auto;
    height: 10%;
    margin: 30px;
}

.my-button {
    border-radius: 5;
    font-family: FontAwesome;
    vertical-align: middle;
    margin: 20px;
}

.my-button:active {
    background-color: lightslategray;
    color:white;
}

.logo {
    width:100%;
    height: 100%;
    margin-bottom: 30px;
}

.left {
    horizontal-align:left;
}

.center {
    horizontal-align:center;
}

.right {
    horizontal-align:right;
}

/* Parallax */
#headerLabel2
{
    font-size: 45;
    horizontal-align: center;
    margin-top:-25;
    color:#B2EBF2;
}

#headerLabel{
    font-size: 45;
    horizontal-align: center;
    padding-top:75;
    color:#B2EBF2;
}

.header-template{
    background-color:red;
    background-image:url('~/images/browse.jpg');
    height: 205;
    background-size: cover;
    /* background-position: center top; */
    background-repeat: no-repeat;
}

.logo-template{
    background-color:red;
    background-image:url('~/images/logo.png');
    height: 55;
    background-size: cover;
    /* background-position: center top; */
    background-repeat: no-repeat;
}

.body-template TextView{
    margin: 30px;
}

.anchor{
    height: 55;
    width:100%;
    background-color:white;
    /* background-color:#616161; */
}
.logo-anchor{
    height: 200;
    width:100%;
    background-color:white;
    /* background-color:#616161; */
}

#titleLabel{
    font-weight:bold;
    font-size:25;
    padding:5 15;
    color:#fff;
}