// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
/* Font icon class*/
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

/* Action bar*/
ActionBar .action-bar-title {
    horizontal-align: center;
}

.alert {
    color: white;
    background-color: #7700ff;
}

.warning {
    color: black;
    background-color: rgb(185, 185, 12);
}

.primary {
    color: white;
    background-color: #3A53FF;
}

.secondary {
    color: white;
    background-color: #398881;
}

.audio-button {
    margin: 30px;
    border-width: 1px;
    border-radius: 5;
    border-color: #3A53FF;
    border-style: solid;
    background-color: whitesmoke;
}

.enableAudio-button {
    color: black;
    font-size: 18;
}
