.list-container {
    margin: 30px;
    margin-bottom: 10px;
}

.title {
    font-size: 20;
    margin-top:60px;
    text-align: center;    
}

.notification {
    font-size: 18;
    margin-top:10px;
    text-align: center;
    color: #215551;    
    /* color: palevioletred;     */
}

.button-row {
    width: auto;
    height: 10%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 80px;
}

.my-button {
    border-radius: 5;
    font-family: FontAwesome;
    font-size: 12;
    vertical-align: middle;
    margin: 20px;
    height: auto;
}

.my-button:active {
    background-color: lightslategray;
    color:white;
}

.sharing-label {
    color: black;
    font-size: 18;
    margin-top: 60px;
    margin-bottom: 5px;
}

.sharing-name {
    color: #3A53FF;
    font-size: 18;
    margin-top: 5px;
    margin-bottom: 30px;
}

.row-text {
    color: black;
    font-size: 18;
    text-align: left;
    margin-left: 30px;
    /* vertical-align: middle; */
}

.share-button-row {
    width: 100%;
    height: 60%;
    margin-top: 30px;
}

