.title {
    color: #3A53FF;
    font-size: 22;
    margin-top: 100px;
    text-align: center;
}

.subtitle {
    color: black;
    font-size: 20;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: left;
}

.footer {
    color: black;
    font-size: 16;
    color: #3A53FF;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.button-row {
    width: auto;
    height: 20%;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.settings-content {
    margin-left: 60px;
    margin-right: 60px;
}

.indicator {
    vertical-align: middle;
    color: black;
    font-size: 20;
}

.my-button {
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 14;
    vertical-align: middle;
    /* width: 100%; */
    margin: 20px;
}

.my-button:active {
    background-color: #8f9b9a;
    color: white;
}

.my-button-english {
    background-color: dodgerblue;
}

.my-button-spanish {
    background-color: orangered;
}

.my-button-control {
    color: rgba(26, 24, 24, 0.787);
    background-color: lightgreen;
}

.always-do-this {
    font-size: 18;
    font-weight:bold;
    margin-left: 0px;
    margin-right: 30px;
    padding: 30px;
}

/* Parallax */
#headerLabel2
{
    font-size: 45;
    horizontal-align: center;
    margin-top:-25;
    color:#B2EBF2;
}

#headerLabel{
    font-size: 45;
    horizontal-align: center;
    padding-top:75;
    color:#B2EBF2;
}

.header-template{
    background-color:red;
    background-image:url('~/images/settings.jpg');
    height: 205;
    background-size: cover;
    /* background-position: center top; */
    background-repeat: no-repeat;
    /* margin-bottom: 10px; */
}

.body-template TextView{
    margin: 30px;
}

.anchor{
    height: 5;
    width:100%;
    background-color:white;
    /* background-color:#616161; */
}

#titleLabel{
    font-weight:bold;
    font-size:25;
    padding:5 15;
    color:#fff;
}
